@import 'colors';

body{
    font-family: "Barlow";
    font-weight: 400;
    font-size: 18px;
    overflow-X: hidden;
}
.container{
    max-width: 1440px;
    margin: auto;
}

.menu-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10.3rem;
    padding-right: 10.3rem;
    padding-top: 4.1rem;
    padding-bottom: 4.1rem;

    &__burger{
        display: none;
    }
    &__links{
        width: 100%;
        max-width: 378px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: "Barlow Condensed" ;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.86em;
        letter-spacing: 0.05rem;
    }

    &__link{
        margin-right: 0.1rem;
        & > a{
            text-decoration: none;
            &:hover{
                border-bottom: solid $VeryDarkBlue 1px;
            }
        }
        &--disable{
            margin-left: 3rem;
            & > a{
                color: $GrayishBlue;
            }
        }
    }
    &__background{
        z-index: -1;
        position: absolute;
        top: -10rem;
        right: 0;
        width: 49%;
        height: 36.8rem;
        border-bottom-left-radius: 3.5rem;
        background-color: $LightGrayishBlue;
    }
}

.section{
    padding-left: 10.3rem;
    padding-right: 10.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    overflow-x: hidden;
    min-height: 100vh;

    &__article{
        display: inline;
        width: 100%;
        margin-top: 6.2rem;
        max-width: 552px;

        .article{      
            &__new{
                padding: 0.6rem;
                padding-top: 0.3rem;
                padding-bottom: 0.34rem;
                margin-right: 0.44rem;
                border-radius: 10rem;
                color: #FFFFFF;
                background-color: $VeryDarkBlue;
                font-family: "Barlow Condensed";
                font-weight: 700;
                font-size: 0.82em;
                letter-spacing: 0.08rem;
                display: inline-block;
                text-transform: uppercase;
            }

            &__hover-title{
                display: inline-block;
                font-family: "Barlow Condensed";
                font-size: 0.8em;
                letter-spacing: 0.325rem;
                color: $GrayishBlue;
                text-transform: uppercase;
            }

            &__title{
                margin-top: 1.4rem;
                font-size: 4rem;
                font-weight: 700;
                text-transform: uppercase;
                color: $VeryDarkBlue;
                font-family: "Barlow Condensed";
            }

            &__text{
                margin-top: 2rem;
                color: $DarkGrayishBlue;
                font-size: 1.02em;
                line-height: 1.45em;
                width: 100%;
                max-width: 280px;
            }

            &__btn-group{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 3.9rem;
                .btn-group{
                    
                    &__btn{
                        border-radius: 6px;
                        padding: 0.99em;
                        padding-left: 2em;
                        padding-right: 2em;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: "Barlow Condensed";
                        font-size: 0.9em;
                        font-weight: 700;
                        letter-spacing: 0.06em;
                        color: #FFFFFF;
                        background-color: $Red;
                        
                        &:hover{
                            background-color: $redHover;
                        }
                    }
                    
                    &__info{
                        color: $GrayishBlue;
                        font-family: "Barlow Condensed";
                        margin-left: 1.4rem;
                        font-size: 0.9em;
                        letter-spacing: 0.13em;
                        text-transform: uppercase;
                    }
                }
            }
            
        }
    }
    &__image{
        position: relative;
        right: -1.75rem;
        margin-top: 3.05rem;
        
        max-width: 960px;
        width: 100vw;
    }
}
aside{
    width: 50%;
}
.attribution{
    text-align: center;
}

@media screen and (min-width: 400px) and (max-width: 800px){
    .menu-nav{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .section{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media screen and (max-width: 400px) {

    .menu-nav{

        padding-left: 1.95rem;
        padding-right: 1.95rem;
        padding-top: 2.3rem;
        padding-bottom: 2.3rem;
        &__logo{
            width: 24px;
        }
        &__burger{
            display: block;
            margin-right: 0.1rem;
        }

        &__links{
            background-color: #FFFFFF;
            margin:auto;
            margin-top: 19rem;
            width: 80vw;
            -webkit-box-shadow: -2px 11px 28px -1px rgba(0,0,0,0.38);
            -moz-box-shadow: -2px 11px 28px -1px rgba(0,0,0,0.38);
            box-shadow: -2px 11px 28px -1px rgba(0,0,0,0.38);
            z-index: 2;
            position: absolute;
            text-align: center;
            display: none;
            flex-direction: column;
            overflow: hidden;
            height: 0;
        }
        &__link{
            padding-top: 0.9rem;
            padding-bottom: 0.9rem;
            font-size: 1.15em;
            transform: translate(0px, 200px);

            &:first-child{
                padding-top: 1.8rem;
            }
            &:last-child{
                border-top: solid $GrayishBlue 1px;
                margin: 0;
                margin-left: 1.5rem;
                margin-right: 1.5rem;
                padding-bottom: 1.8rem;
                padding-top: 1.8rem;
            }
        }
    }

    .section{
        padding-left: 1.95rem;
        padding-right: 1.95rem;
        padding-top: 1rem;
        flex-direction: column-reverse;
        height: auto;
        flex-wrap: nowrap;; 
        overflow-x: hidden;
        min-height: 0vh;
        &__article{
            .article{

                &__title{
                    font-size: 2.3em;
                }

                &__text{
                    margin-top: 0.8rem;
                }

                &__btn-group{
                    margin-top: 1rem;
                    margin-bottom: 10rem;
                    .btn-group{
                        &__btn{
                            padding-top: 0.5em;
                            padding-bottom: 0.5em;
                            font-size: 0.8em;
                        }

                        &__info{
                            font-size: 0.8em;
                            letter-spacing: 0.1px;
                            
                        }
                    }
                }
            }
        }
        &__image{
            left: -1.1em;
            margin-top: 0.45rem;
            width: 134vw;
        }
    }
}