body {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 18px;
  overflow-X: hidden;
  display: none;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10.3rem;
  padding-right: 10.3rem;
  padding-top: 4.1rem;
  padding-bottom: 4.1rem;
}

.menu-nav__burger {
  display: none;
}

.menu-nav__links {
  width: 100%;
  max-width: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Barlow Condensed";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.86em;
  letter-spacing: 0.05rem;
}

.menu-nav__link {
  margin-right: 0.1rem;
}

.menu-nav__link > a {
  color: #242942;
  text-decoration: none;
}

.menu-nav__link > a:hover {
  border-bottom: solid #242942 1px;
}

.menu-nav__link--disable {
  margin-left: 3rem;
}

.menu-nav__link--disable > a {
  color: #a0a1ac;
}

.menu-nav__background {
  z-index: -1;
  position: absolute;
  top: -10rem;
  right: 0;
  width: 49%;
  height: 36.8rem;
  border-bottom-left-radius: 3.5rem;
  background-color: #eef3f6;
}

.section {
  padding-left: 10.3rem;
  padding-right: 10.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  overflow-x: hidden;
  min-height: 100vh;
}

.section__article {
  display: inline;
  width: 100%;
  margin-top: 6.2rem;
  max-width: 552px;
}

.section__article .article__new {
  padding: 0.6rem;
  padding-top: 0.3rem;
  padding-bottom: 0.34rem;
  margin-right: 0.44rem;
  border-radius: 10rem;
  color: #FFFFFF;
  background-color: #242942;
  font-family: "Barlow Condensed";
  font-weight: 700;
  font-size: 0.82em;
  letter-spacing: 0.08rem;
  display: inline-block;
  text-transform: uppercase;
}

.section__article .article__hover-title {
  display: inline-block;
  font-family: "Barlow Condensed";
  font-size: 0.8em;
  letter-spacing: 0.325rem;
  color: #a0a1ac;
  text-transform: uppercase;
}

.section__article .article__title {
  margin-top: 1.4rem;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #242942;
  font-family: "Barlow Condensed";
}

.section__article .article__text {
  margin-top: 2rem;
  color: #5b5f71;
  font-size: 1.02em;
  line-height: 1.45em;
  width: 100%;
  max-width: 280px;
}

.section__article .article__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.9rem;
}

.section__article .article__btn-group .btn-group__btn {
  border-radius: 6px;
  padding: 0.99em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Barlow Condensed";
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #ff5c5c;
}

.section__article .article__btn-group .btn-group__btn:hover {
  background-color: #FF8584;
}

.section__article .article__btn-group .btn-group__info {
  color: #a0a1ac;
  font-family: "Barlow Condensed";
  margin-left: 1.4rem;
  font-size: 0.9em;
  letter-spacing: 0.13em;
  text-transform: uppercase;
}

.section__image {
  position: relative;
  right: -1.75rem;
  margin-top: 3.05rem;
  max-width: 960px;
  width: 100vw;
}

aside {
  width: 50%;
}

.attribution {
  text-align: center;
}

@media screen and (min-width: 400px) and (max-width: 800px) {
  .menu-nav {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .body {
    display: block;
  }
  .menu-nav {
    padding-left: 1.95rem;
    padding-right: 1.95rem;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
  }
  .menu-nav__logo {
    width: 24px;
  }
  .menu-nav__burger {
    display: block;
    margin-right: 0.1rem;
  }
  .menu-nav__links {
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 19rem;
    width: 80vw;
    -webkit-box-shadow: -2px 11px 28px -1px rgba(0, 0, 0, 0.38);
    box-shadow: -2px 11px 28px -1px rgba(0, 0, 0, 0.38);
    z-index: 2;
    position: absolute;
    text-align: center;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    height: 0;
  }
  .menu-nav__link {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    font-size: 1.15em;
    -webkit-transform: translate(0px, 200px);
            transform: translate(0px, 200px);
  }
  .menu-nav__link:first-child {
    padding-top: 1.8rem;
  }
  .menu-nav__link:last-child {
    border-top: solid #a0a1ac 1px;
    margin: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-bottom: 1.8rem;
    padding-top: 1.8rem;
  }
  .section {
    padding-left: 1.95rem;
    padding-right: 1.95rem;
    padding-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: hidden;
    min-height: 0vh;
  }
  .section__article .article__title {
    font-size: 2.3em;
  }
  .section__article .article__text {
    margin-top: 0.8rem;
  }
  .section__article .article__btn-group {
    margin-top: 1rem;
    margin-bottom: 10rem;
  }
  .section__article .article__btn-group .btn-group__btn {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.8em;
  }
  .section__article .article__btn-group .btn-group__info {
    font-size: 0.8em;
    letter-spacing: 0.1px;
  }
  .section__image {
    left: -1.1em;
    margin-top: 0.45rem;
    width: 134vw;
  }
}
/*# sourceMappingURL=main.css.map */